<%- include('partials/header', { title: 'Home', user: user })%>
<h1><%=post?.title%></h1>
<h1><%=post?.content%></h1>
<!-- displaying Images -->
<% post?.images.forEach((image)=>{ %>
<div>
  <img src="<%=image.url%>" alt="<%=post?.title%>" height="350" width="600" />
</div>
<%}) %> <%-include('partials/footer') %>
