<%- include('partials/header', { title, user: user }) %>
<h1>Posts</h1>
<% if (post?.length > 0) { %> <% post.forEach(post => { %>
<div>
  <h2><%- post.title %></h2>
  <% if (post?.images.length) { %>
  <img src="<%-post.images[0].url%>" height="400" width="700" />
  <% } %>
  <p><%- post.content %></p>
</div>
<% }) %> <% } else { %>
<h2>No posts found</h2>

<% } %> <%-include('partials/footer') %>
